<div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#">Mimas</a>

                <p class="navbar-text pull-right">
                    <span id="i18n_loggedAs"></span><a href="#" class="navbar-link">Username</a>
                </p>

                <form id="searchForm" class="navbar-form">
                    <input class="span6" type="text" id="i18n_query"/>
                    <button type="submit" class="btn" id="i18n_queryButton"></button>
                </form>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid" id="main-container">
        </div>
    </div>

    <footer class="navbar-fixed-bottom">
        <hr/>
        <h5 class="pull-right"><small><a href="mailto:hlops@inbox.ru">Antony Hlops</a> ©2013</small>&nbsp;</h5>
    </footer>
</div>