<ul class="nav nav-list">
    <li class="nav-header">{{id}}</li>
    {{#each items}}
    <li id="i18n_{{id}}"{{#ifequal id ../selected}} class="active"{{/ifequal}}>
        <a href="#">{{id}}</a>
    </li>
    {{/each}}
</ul>