<ul class="nav nav-list">
    <li id="i18n_{{id}}" class="nav-header">{{id}}</li>
    {{#each items}}
    <li {{#ifequal id ../selected}} class="active"{{/ifequal}}>
        <a class="menuItem" id="i18n_{{id}}" href="#">{{id}}</a>
    </li>
    {{/each}}
</ul>